body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: raleway;
    font-size: 1em;
    color: white;
    background: #4a774f;
}

.variable {
    font-weight: 700;
}

#content {
    padding: 7vh;
    padding-top: 18vh;
}

#total {
    margin-top: 1em;;
    font-weight: 700;
}
#total .value {
    background: rgba(127, 230, 127, 0.3);
    border: 0.2em;
    border-radius: 0.4em;
    padding: 0.08em 0.2em;
    padding-bottom: 0.2em
}